@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');

body {
  /* background-color: hsl(0, 0%, 12%); */
  background-image: url("/img/sfondo-home-page.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*================FONT===============*/
.font-pirata {
  font-family: "Pirata One", system-ui, sans-serif;
}

.font-instrument {
  font-family: "Instrument Serif", serif;
}

.font-newsreader {
  font-family: "Newsreader", serif;
}

/*====================================*/


/*============ COLORI SFONDI==================*/
/*COLORE VERDE SFONDO*/
.principal-color {
  background-color: #2BE7A0;
  /*background-color: #116356;*/
}


/*COLORE NERO SFONDO*/
.secondary-color {
  background-color: #1E1E1E;
}

.sabbia-color {
  background-color: #f4c66a;

}

/*======================================*/



/*============ COLORI TESTO==================*/
/*COLORE VERDE TESTO*/
.text-v-color {
  color: #2BE7A0;
}

/*COLORE NERO TESTO*/
.text-b-color {
  color: #1E1E1E;
}

/*======================================*/

.title-color {
  color: #f4c66a;
  /*color: #feb74b;*/
  text-shadow:
    -2px -2px 0 #0b0b0b,
    0 -2px 0 #0b0b0b,
    2px -2px 0 #0b0b0b,
    -2px 0 0 #0b0b0b,
    2px 0 0 #0b0b0b,
    -2px 2px 0 #0b0b0b,
    0 2px 0 #0b0b0b,
    2px 2px 0 #0b0b0b,
    0 5px 8px rgba(0, 0, 0, 0.85);
}

.subtitle-color {
  color: #F2E6C9;
  text-shadow:
    -1px -1px 0 #052e23,
    0 -1px 0 #052e23,
    1px -1px 0 #052e23,
    -1px 0 0 #052e23,
    1px 0 0 #052e23,
    -1px 1px 0 #052e23,
    0 1px 0 #052e23,
    1px 1px 0 #052e23,
    0 3px 5px rgba(0, 0, 0, 0.8);
}

.f-14 {
  font-size: 1.4rem;
}

.description-color {
  color: #fff8e7;

  text-shadow:
    -1px -1px 0 #0b0b0b,
    0 -1px 0 #0b0b0b,
    1px -1px 0 #0b0b0b,
    -1px 0 0 #0b0b0b,
    1px 0 0 #0b0b0b,
    -1px 1px 0 #0b0b0b,
    0 1px 0 #0b0b0b,
    1px 1px 0 #0b0b0b,
    0 3px 5px rgba(0, 0, 0, 0.8);
}

.menu-color {
  color: #f4c66a;

  text-shadow:
    -2px -2px 0 #0b0b0b,
    0 -2px 0 #0b0b0b,
    2px -2px 0 #0b0b0b,
    -2px 0 0 #0b0b0b,
    2px 0 0 #0b0b0b,
    -2px 2px 0 #0b0b0b,
    0 2px 0 #0b0b0b,
    2px 2px 0 #0b0b0b,
    0 5px 8px rgba(0, 0, 0, 0.85);
}

.review-color {
  color: #f4c66a;
  font-size: 4.5rem !important;

  text-shadow:
    -2px -2px 0 #0b0b0b,
    0 -2px 0 #0b0b0b,
    2px -2px 0 #0b0b0b,
    -2px 0 0 #0b0b0b,
    2px 0 0 #0b0b0b,
    -2px 2px 0 #0b0b0b,
    0 2px 0 #0b0b0b,
    2px 2px 0 #0b0b0b,
    0 5px 8px rgba(0, 0, 0, 0.85);
}

/* DIMENSIONE TESTO */
.font-size {
  font-size: 25px;
  font-weight: bold;

}


/*  NAVBAR STYLE */
.img-logo {
  width: 17%;
}


.custom-navbar {
  border-bottom: 8px solid #1f1e1ebf !important;
  border-radius: 0px 0px 30px 30px;

}

.color-icon {
  color: rgb(1, 101, 93);

}


/* FOOTER STYLE */
.footer-container {
  border-top: 10px solid #1f1e1ebf !important;
  border-radius: 30px 30px 0px 0px;


}

.img-logo-footer {
  width: 75%;
}

.footer-link {
  font-family: "Instrument Serif", serif;
  color: #1E1E1E;
  text-decoration: none;
}


/* HOME PAGE STYLE */
.titolo-principale {
  font-size: 80px;


}

/* .container-titolo {
  border-top: 5px solid #1f1e1ebf !important;
  border-bottom: 5px solid #1f1e1ebf !important;
  border-left: 5px solid #1f1e1ebf !important;
  border-right: 5px solid #1f1e1ebf !important;
  background-color: #2BE7A0;
  border-radius: 0px 30px 0px 30px;
  width: 50%;
} */



/* Stili personalizzati per i prodotti */
.product-img-custom-single {
  aspect-ratio: 5 / 8;
  height: 100%;
}

.text-accent {
  color: #2BE7A0 !important;
  /* Il nuovo colore verde acqua */
}

/*CHI SIAMO*/
.subtitle-green {
  color: #2BE7A0;
  text-shadow:
    -2px -2px 0 #0b0b0b,
    0 -2px 0 #0b0b0b,
    2px -2px 0 #0b0b0b,
    -2px 0 0 #0b0b0b,
    2px 0 0 #0b0b0b,
    -2px 2px 0 #0b0b0b,
    0 2px 0 #0b0b0b,
    2px 2px 0 #0b0b0b,
    0 5px 8px rgba(0, 0, 0, 0.85);
}

/*hover immagine del menù*/

.product-card {
  position: relative;
  overflow: hidden;
  min-height: 320px;
  display: flex;
  flex-direction: column;
}

.product-card .card-body {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.6) 100%);
  backdrop-filter: blur(3px);
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  transition: all 0.3s ease-in-out;
}

.product-card:hover .card-body {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.product-img-custom {
  width: 100%;
  min-height: 400px;
  object-fit: cover;
  display: block;
  transition: transform 0.5s ease;
}


/* Media query per evitare il ritaglio delle immagini su schermi piccoli (mobile e tablet) */
@media (max-width: 991px) {
  .product-img-custom {
    height: auto;
    /* L'altezza si adatta proporzionalmente alla larghezza */
  }

  .product-card {
    min-height: auto;
    /* La card si restringe per adattarsi all'immagine */
  }
}

/* Slider Styles */
.slider-wrapper {
  position: relative;
  padding: 0 50px;
}

.slider-container {
  overflow: hidden;
  width: 70%;
  margin: 0 auto;

}

.slider-track {
  display: flex;
  transition: transform 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

.slider-item {
  transition: transform 0.3s ease;
  align-items: stretch;
  padding: 0 10px;
}

/* Responsive flex-basis per il numero di elementi visibili */
@media (max-width: 767px) {
  .slider-item {
    flex: 0 0 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .slider-item {
    flex: 0 0 50%;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .slider-item {
    flex: 0 0 33.3333%;
  }
}

@media (min-width: 1200px) {
  .slider-item {
    flex: 0 0 25%;
  }
}


.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  font-size: 3.5rem;
  /* La tua dimensione */
  cursor: pointer;
  transition: color 0.2s ease, transform 0.2s ease;

  /* Resettiamo i vecchi valori nocivi */
  width: auto;
  height: auto;
}

.btn-slider-prev {
  left: 11%;
  right: auto;
}

.btn-slider-next {
  right: 11%;
  left: auto;
}


.slider-btn:hover:not(:disabled) {
  color: #2BE7A0 !important;
}

.slider-btn:hover:not(:disabled) {
  color: #2BE7A0;
  transform: translateY(-50%) scale(1.2);
}


.style-button {
  background-color: #2BE7A0;
}

.star-button {
  background-color: #2BE7A0;

}

.flip-horizontal {
  transform: scaleX(-1);
}