@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');

.font-pirata {
  font-family: "Pirata One", system-ui, sans-serif;
}

/*=======navbar style=========*/
.img-logo {
  width: 10%;

}

.nav-color {
  background-color: #2BE7A0;
}
/*=======navbar style=========*/
.img-logo {
  width: 10%;
}

.nav-color {
  background-color: #2BE7A0;
}

/*footer syle*/
.footer-color {
  background-color: #2BE7A0;
}

/* Stili personalizzati per i prodotti */

.product-img-custom {
  width: 100%;
  height: 520px;
  object-fit: fill;
}

.text-accent {
  color: #2BE7A0 !important; /* Il nuovo colore verde acqua */
}
